.ac_main_box{
    position: relative;
  }
  
  .ac_container{
  background-image: linear-gradient(#e31111, #e3e378);
  width: 100%;
      height: 120px;
  }
  .ac_container1{
      background-color: #ede6e6;
      width: 80%;
      height: 465px;
      z-index: 1;
      display: flex;
      position: absolute;
      top: 36px;
      left: 10%;
  }
  
  .ac_content{
      width: 50%;
      padding: 20px 20px;
  }
  
  
  .ac_add_client{
    display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  }
  
  .ac_add_client input{
      margin-top: 15px;
      border: 1px solid #141313;
      height: 35px;
      border-right: 0px solid white;
      width: 100%;
  }
  .ac_add_client label{
      padding-top: 10px;
  }
  
  .add_para label{
      padding-top: 10px;
  }
  
  .add_para{
      padding: 0px 5px;
       margin-top: 15px;
      border: 1px solid #141313;
      height: 150px;
      border-right: 0px solid white;
      width: 100%;
  }
  
  
  .ac_add_button button{
  border-radius: 22px;
      margin: 15px 0px;
      text-align: center;
      background-color: rgb(34 50 139);
      color: wheat;
      padding: 6px 40px;
  }
  
  
  .ac_content1{
   width: 50%;
      padding: 20px 20px;
      display: flex;
      position: relative;
      text-align: center;
      justify-content: space-around;
  }
  
  .ac_img_logo img{
    padding: 25px;
    width: 225px;
    height: 235px;
  }
  
  .ac_logo_button{
    margin: 36px 20px;
  }
  
  
  .ac_update_butoon button{
          border-radius: 22px;
      margin: 30px 0px;
      background-color: rgb(34 50 139);
      color: wheat;
      padding: 2px 18px;
  }
  
  .ac_delete_button button{
      outline: 0;
      border-radius: 22px;
      text-align: center;
      color: black;
      padding: 2px 35px;
  }