.ac_main_box{
    position: relative;
  }
  
  .ac_container{
  background-image: linear-gradient(#e31111, #e3e378);
  width: 100%;
      height: 12.0rem;
  }
  .ac_container1{
      background-color: #ede6e6;
      width: 80%;
      height: 46.5rem;
      z-index: 1;
      display: flex;
      position: absolute;
      top: 3.6rem;
      left: 10%;
  }
  
  .ac_content{
      width: 50%;
      padding: 2.0rem 2.0rem;
      font-size: 1.4rem;
  }
  
  
  .ac_add_client{
    display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  }
  
  .ac_add_client input{
      margin-top: 1.0rem;
      border: .1rem solid #141313;
      height: 3.5rem;
      border-right: 0rem solid white;
      width: 100%;
  }

  
  .add_para{
      padding: 0rem .5rem;
       margin-top: 1.5rem;
      border: .1rem solid #141313;
      height: 15.0rem;
      border-right: 0rem solid white;
      width: 100%;
  }
  
  
  .ac_add_button button{
  border-radius: 2.2rem;
      margin: 1.5rem 0rem;
      text-align: center;
      background-color: rgb(34 50 139);
      color: wheat;
      padding: .6rem 4.0rem;
      border: none;
  }
  
  
  .ac_content1{
   width: 50%;
      padding: 2.0rem 2.0rem;
      display: flex;
      position: relative;
      text-align: center;
      justify-content: space-around;
      font-size: 1.4rem;
  }
  
  .ac_img_logo img{
    padding: 2.5rem;
    width: 22.5rem;
    height: 23.5rem;
  }
  
  .ac_logo_button{
    margin: 3.6rem 2.0rem;
  }
  
  
  .ac_update_butoon button{
          border-radius: 2.2rem;
      margin: 3.0rem 0rem;
      background-color: rgb(34 50 139);
      color: wheat;
      padding: .2rem 1.8rem;
  }
  
  .ac_delete_button button{
      outline: 0;
      border-radius: 2.2rem;
      text-align: center;
      color: black;
      padding: .2rem 3.5rem;
  }

  @media screen and (max-width:950px){
	.ac_content{
		width: 50%;
	}
	.ac_content{
		width: 50%;
	}
}

@media screen and (max-width:600px){
	.ac_content1{
		width: 100%;
	}
	.ac_content1{
		width: 100%;
	}

    .ac_update_butoon button{
        width: 50%;
        margin: 0px;
    }
}

