client{
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    padding: 3%;
    height: 120px;
    width: 150px;
    margin-left: 9px;
    border: 1px solid gray;
    border-top: none;
}
.client button{
   
    font-size: .8rem;
    background-color: rgb(45, 45, 100);
    
    padding: 3px 20px;
}

.client_button{
    height: 160px;
    width: 175px;
    border: 1px solid black;
    margin-left: 30px;
}

.client_button button{
    border-radius: 18px;
    outline: 0;
    position: absolute;
    margin: 63px 27px;
    color: #f4f4f9;
    padding: 2px 11px;
    background: #3b3fbb;
}