*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

.main_box{
	width: 100%;
    display: flex;
	justify-content: space-between;
	align-items: center;
     position: relative;
     background-image: linear-gradient(#e31111, #e3e378);
    height: 12.0rem;
}

.container1{
    background-color: antiquewhite;
    width: 80%;
    height: 72rem;
    position: absolute;
    top: 3.6rem;
    left: 10%;
}

.d_content{
	width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    align-items: flex-end;
    flex-wrap: wrap;

}

.filelabel {
  border-radius: .5rem;
  display: block;
  transition: border 300ms ease;
  cursor: pointer;
  text-align: center;
}

.filelabel i {
    display: block;
    font-size: 2.0rem;
    position: absolute;
        left: 13.1rem;
    top: 11.5rem;
}

.filelabel i {
    color: #221a1a;
    transition: 200ms color;
}

.filelabel:hover i {
color: #1665c4;
}

#FileInput{
  display:none;
}

.d_content1 {
    height: auto;
}

.d_content1 img{
border-radius: 7.0rem;
    width: 13.5rem;
    height: 13.6rem;
}

.d_content2 {
	   margin-left: -.80rem;
	   font-size: 1.5rem;
}


.d_content2 h1 {
   color: rgb(9, 9, 80);
    font-size: 2.5rem;
    padding: 2.5rem 0rem;
}

.d_content3{
	  font-size: 1.5rem;
}

.d_content4{
    color: blue;
      font-size: 1.5rem;
}

.d_button{
margin: 4.7rem 0rem;
}

.d_button button {
 background-color: rgb(20, 22, 80);
    font-size: 1.2rem;
    padding: .4rem 4.8rem;
    border-radius: 1.8rem;
    color: white;
    border: none;
}

.d_content5{
	  font-size: 1.5rem;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.d_content6 i{
padding: 0rem .2rem;
}

.d_content6 {
	  font-size: 1.5rem;
    padding: 0rem 4rem;
}




.d_text{
	font-size: 1.5rem;
    text-align: justify;
    margin: 0.5rem 2rem;
}

.d_client_button{
	  display: flex;
  justify-content: space-between;
  margin: 2rem 3rem;
}

.d_addnew button{
background-color: rgb(45, 45, 100);
  padding: .5rem 1.7rem;
  border-radius: 1.8rem;
    color: white;
    border: none;
}

.d_client_img{
	display: flex;
  justify-content: start;
  flex-wrap: wrap;
  }


  .d_img {
    margin: 1rem 2rem;
  }
  .d_img img {
    height: 120px;
    width: 174px;
      object-fit: cover;
      object-position: center;
  }



@media only screen and (max-width: 998px){
    html{ 
    	font-size:55%;
}
}

@media only screen and (max-width: 1400px){
  html{ 
    font-size:65%;
}
}


@media(max-width: 768px){
   html{
    font-size:45%;
}
}
