 
 *{
    padding: 0;
    margin: 0;
    
}
header{
   display: flex;
background-color:rgb(226, 222, 204);  
height: 19px;

}
header span{
   text-align: start;
   font-size: small;
   /* margin-top: 1.5%; */
   margin-left: 1%;
   font-weight: 700;
}
header p{
   text-align: center;
   margin-left: 46%;
   font-size: x-small;
   /* margin-top: 1.7%; */
   margin-bottom: 0.1%;
}

.a1{
   background: linear-gradient(red,orange);
   height: 300%;
   
   padding: 1.5%;
}
