
header{
   width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
 background-color:rgb(226, 222, 204);  
 }
 
 .h_logo_img{
    text-align: start;
    font-size: small;
    padding: 10px 20px
 }
 
 .h_logo_img img{
    height: 18px;
 }
 
 .h_header_text{
     text-align: center;
     padding: 10px 0px;
 }
 
 .h_header_icon{
     padding: 10px 20px;
 }
 .h_header_icon i{
   padding: 0px 6px;
}