*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Source Sans Pro', serif;
}

.l_login{
	height: 100vh;
	width: 100%;
	background-image: url('../images/business.jpg');
	background-size: cover;
}
.l_container{
	height: 100vh;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.l_login_left{
/*width: 50%;
border : 1px solid black;*/
margin-left: 100px
}

.l_login_right{
	width: 450px;
	height: 300px;
	background-color: white;
padding: 30px 30px;
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: space-between;
    margin-left: 150px;

}

.l_login_top_right{
	height: 10%;
}

.l_login_input_box{
	height: 40%;
}
.l_login_button{

	height: 18%;
} 
.l_login_button button{
border-radius: 15px;
    margin: 22px 0px;
    text-align: center;
    background-color: #1e1e50;
    color: wheat;
    padding: 2px 24px;
}
.l_login_input_text{
	display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: space-between;
}

.l_login_input_text input{
	outline: 0;
	border :none;
	border-bottom: 1px solid grey;
	width: 100%;
}


@media screen and (max-width:950px){
	.l_login_left{
		margin-left: 0px;
	}
	.l_login_right{
		margin-left: 0px;
	}
}

@media screen and (max-width:600px){
	.l_login_left{
		margin-left: 0px;
	}
	.l_login_right{
		width: 200px;
		margin-left: 0px;
	}
}



